*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  line-height: 1.6;
  color: #444;
  background-color: #c5d8d1;
}

body {
  font-size: 1.6rem;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
}

button {
  border-radius: 10px;
  background-color: #cee2d2;
  outline: none;
}

button:hover {
  background-color: #dff3e3;
}

header {
  padding: 2rem;
}

.scoreboard {
  max-width: 250px;
  padding: 1rem;
  margin: 0 auto;
}

.score {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.score > p {
  width: 50%;
}

button {
  width: 8rem;
  padding: 1rem;
  margin: 1rem;
  font-family: inherit;
}
