:root {
  --font: #ddd;
  --background: #222831;
  --header: #393e46;
  --title: #00adb5;
  --border: #00adb5;
  --button: #393e46;
  --button-hover: #4a4f57;
  --button-active: #5b5f68;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--font);
}

body {
  font-size: 1.6rem;
}

header {
  font-size: 2.4rem;
}

h1 {
  line-height: 1.2;
}

button {
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

.header {
  padding: 3rem;
  border-bottom: 2px solid var(--border);
  background-color: var(--header);
  text-align: center;
}

.title {
  color: var(--title);
}

.main {
  margin-top: 3rem;
  text-align: center;
}

.scoreboard {
  padding: 1rem;
  margin-bottom: 2rem;
}

.score-heading {
  font-size: 4rem;
}

.score {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  font-size: 2.4rem;
}

.player-section {
  margin-right: 10rem;
}

.player-section p,
.computer-section p {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.btn {
  border: 2px solid var(--font);
  border-radius: 10px;
  background-color: var(--button);
  padding: 2rem;
  margin: 1rem;
}

.btn:hover {
  background-color: var(--button-hover);
}

.btn:active {
  background-color: var(--button-active);
}

.far,
.fas {
  font-size: 10rem;
}

.fas {
  visibility: hidden;
}

.fas.active {
  visibility: visible;
}

@media (max-width: 550px) {
  html {
    font-size: 40%;
  }
}
